@model FreelancerCreateViewModel
@{
    ViewBag.ModuleName = _CommonLocalizer["Create Freelancer"];
    ViewBag.ModuleIcon = "user";
    var countries = ViewBag.Countries as List<CountryResponseViewModel> ?? new List<CountryResponseViewModel>();
    var freelancerServices = ViewBag.FreelancerServices as List<ServiceResponseViewModel> ?? new List<ServiceResponseViewModel>();
    var dob = Model.DateOfBirth.ToString("yyyy-MM-dd");
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create" asp-controller="Freelancer" method="post" class="form-freelancer" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">@_CommonLocalizer["Image"]</label>
                                <div class="col-sm-9">
                                    <input type="file" class="form-control mt-1" data-image-container="profilePicture" asp-for="ProfilePictureFile" accept=".jpg, .jpeg, .png" onchange="previewImage(event)">
                                    <span asp-validation-for="ProfilePictureFile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label asp-for="FullName" class="form-label">@_CommonLocalizer["FullName"]</label>
                                <input type="text" class="form-control" asp-for="FullName" placeholder="@_CommonLocalizer["FullName"]">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Email" class="form-label">@_CommonLocalizer["Email"]</label>
                                <input type="text" class="form-control" asp-for="Email" placeholder="@_CommonLocalizer["Email"]">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="row mb-3 align-items-center">
                                <div class="col-md-6">
                                    <label asp-for="PhoneNumber" class="form-label">@_CommonLocalizer["Mobile"]</label>
                                    <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="@_CommonLocalizer["Mobile"]">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label">@_CommonLocalizer["CountryCode"]</label>
                                    <select asp-for="CountryId" class="form-select select-with-flags" style="width: 100%;">
                                        @foreach (var country in countries)
                                        {
                                            <option value="@country.Id" data-flag="@country.Code.ToLower()" data-dial-code="@country.DialCode" data-country="@country.Name">
                                                @country.DialCode
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">@_CommonLocalizer["Password"]</label>
                                <input type="password" autocomplete="new-password" class="form-control" asp-for="Password" placeholder="@_CommonLocalizer["Password"]">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">@_CommonLocalizer["ConfirmPassword"]</label>
                                <input type="password" autocomplete="new-password" class="form-control" asp-for="ConfirmPassword" placeholder="@_CommonLocalizer["ConfirmPassword"]">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">@_CommonLocalizer["FreelancerServices"]</label>
                                    @Html.DropDownListFor(a => a.FreelancerServiceIds, new SelectList(freelancerServices, "Id", "Name"), _CommonLocalizer["Select"], new { @class = "form-control select2Input", multiple = "multiple" })
                                    <span asp-validation-for="FreelancerServiceIds" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="City" class="form-label">@_CommonLocalizer["City"]</label>
                                <input type="text" class="form-control" asp-for="City" placeholder="@_CommonLocalizer["City"]">
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Address" class="form-label">@_CommonLocalizer["Address"]</label>
                                <input type="text" class="form-control" asp-for="Address" placeholder="@_CommonLocalizer["Address"]">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="DateOfBirth" class="form-label">@_CommonLocalizer["DOB"]</label>
                                <div class="input-group">
                                    <input type="text" asp-for="DateOfBirth" class="form-control datetime-picker" placeholder="@_CommonLocalizer["Select"]" data-input value="@dob" data-type="date" data-show="past" />
                                    <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ExperienceLevel" class="form-label">@_CommonLocalizer["ExperienceLevel"]</label>
                                <select asp-for="ExperienceLevel" class="form-select">
                                    <option value="">@_CommonLocalizer["Select"]</option>
                                    @foreach (var exp in Enum.GetValues(typeof(ExperienceLevel)))
                                    {
                                        <option value="@((int)exp)">@(exp)</option>
                                    }
                                </select>
                                <span asp-validation-for="ExperienceLevel" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="CivilID" class="form-label">Civil ID (PDF)</label>
                                <input type="file" class="form-control" name="CivilID" accept=".pdf">
                                <span asp-validation-for="CivilID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="Bio" class="form-label">@_CommonLocalizer["Bio"]</label><textarea asp-for="Bio" class="form-control" rows="4" placeholder="Enter bio"></textarea>
                                <span asp-validation-for="Bio" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Note" class="form-label">@_CommonLocalizer["Note"]</label>
                                <textarea asp-for="Note" class="form-control" rows="4" placeholder="@_CommonLocalizer["Enter note"]"></textarea>
                                <span asp-validation-for="Note" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div>
                                <a asp-action="Index" class="btn btn-secondary me-2"><i data-feather="x"></i> @_CommonLocalizer["Cancel"]</a>
                                <button type="submit" class="btn btn-primary"><i data-feather="save"></i> @_CommonLocalizer["Create"]</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

