@model FreelancerEditViewModel
@{
    ViewBag.ModuleName = _CommonLocalizer["Freelancer"];
    ViewBag.ModuleIcon = "user";
    var countries = ViewBag.Countries as List<CountryResponseViewModel> ?? new List<CountryResponseViewModel>();
    var dob = Model.DateOfBirth.ToString("yyyy-MM-dd");
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit" asp-controller="Freelancer" method="post" class="form-freelancer" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">@_CommonLocalizer["Image"]</label>
                                <div class="col-sm-9">
                                    <div class="d-flex align-items-center">
                                        <img class="img-lg" src="@(string.IsNullOrEmpty(Model.ProfilePicture)? "/images/others/placeholder.jpg":Model.ProfilePicture)" alt="" id="profilePicture" style="width: 150px; height: 150px; object-fit: cover; border: 1px solid #ccc;">
                                    </div>
                                    <input type="file" class="form-control mt-1" data-image-container="profilePicture" asp-for="ProfilePictureFile" accept=".jpg, .jpeg, .png" onchange="previewImage(event)">
                                    <span asp-validation-for="ProfilePictureFile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label asp-for="FullName" class="form-label">@_CommonLocalizer["FullName"]</label>
                                <input type="text" class="form-control" asp-for="FullName" placeholder="@_CommonLocalizer["FullName"]">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Email" class="form-label">@_CommonLocalizer["Email"]</label>
                                <input type="text" class="form-control" asp-for="Email" placeholder="@_CommonLocalizer["Email"]">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>


                            <div class="row mb-3 align-items-center">
                                <div class="col-md-6">
                                    <label asp-for="PhoneNumber" class="form-label">@_CommonLocalizer["Mobile"]</label>
                                    <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="@_CommonLocalizer["Mobile"]">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label">@_CommonLocalizer["CountryCode"]</label>
                                    <select asp-for="CountryId" class="form-select select-with-flags" style="width: 100%;">
                                        @foreach (var country in countries)
                                        {
                                            <option value="@country.Id" data-flag="@country.Code.ToLower()" data-dial-code="@country.DialCode" data-country="@country.Name">
                                                @country.DialCode
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>

                           

                            @*<div class="mb-3">
        <label asp-for="ProfilePicture" class="form-label">Profile Picture</label>
        <input type="file" class="form-control" name="ProfilePictureFile" accept="image/*">
        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
        </div>*@

                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="DateOfBirth" class="form-label">@_CommonLocalizer["DOB"]</label>
                                <div class="input-group">
                                    <input type="text" asp-for="DateOfBirth" class="form-control datetime-picker" placeholder="@_CommonLocalizer["Select"]" data-input value="@dob" data-type="date" data-show="past" />
                                    <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ExperienceLevel" class="form-label">@_CommonLocalizer["ExperienceLevel"]</label>
                                <select asp-for="ExperienceLevel" class="form-select">
                                    <option value="">@_CommonLocalizer["Select"]</option>
                                    @foreach (var exp in Enum.GetValues(typeof(ExperienceLevel)))
                                    {
                                        <option value="@((int)exp)">@(exp)</option>
                                    }
                                </select>
                                <span asp-validation-for="ExperienceLevel" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Status" class="form-label">@_CommonLocalizer["AccountStatus"]</label>
                                <input type="text" class="form-control disablePointerEvents" asp-for="Status" placeholder="@_CommonLocalizer["AccountStatus"]">
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>

                            @*<div class="mb-3">
        <label asp-for="CivilID" class="form-label">Civil ID (PDF)</label>
        <input type="file" class="form-control" name="CivilIDFile" accept=".pdf">
        <span asp-validation-for="CivilID" class="text-danger"></span>
        </div>*@
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label asp-for="Bio" class="form-label">@_CommonLocalizer["Bio"]</label><textarea asp-for="Bio" class="form-control" rows="4" placeholder="Enter bio"></textarea>
                                <span asp-validation-for="Bio" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="PreviousWork" class="form-label">@_CommonLocalizer["Note"]</label>
                                <textarea asp-for="PreviousWork" class="form-control" rows="4" placeholder="@_CommonLocalizer["Enter note"]"></textarea>
                                <span asp-validation-for="PreviousWork" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div>
                                <a asp-action="Index" class="btn btn-secondary me-2"><i data-feather="x"></i> @_CommonLocalizer["Cancel"]</a>
                                <button type="submit" class="btn btn-primary"><i data-feather="save"></i> @_CommonLocalizer["Edit"]</button>
                            </div>
                            <div>
                                @if (Model.Status == "Approved")
                                {
                                    <button type="button" id="suspend-freelancer" data-id="@Model.Id" class="btn btn-danger">
                                        <i data-feather="slash"></i>@_CommonLocalizer["Suspend"]
                                    </button>
                                }
                                else
                                {
                                    <button type="button" id="approve-freelancer" data-id="@Model.Id" class="btn btn-success">
                                        <i data-feather="check"></i>@_CommonLocalizer["Approve"]
                                    </button>
                                }
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 

<script>
    $(document).ready(function () {
        $(document).on("click", "#approve-freelancer", function () {
            const title = "Do you really want to approve?";
            const freelancerId = $(this).attr("data-id");

            ShowDialog("Approve Freelancer", title, "warning").then((result) => {
                if (result.isConfirmed) {
                    blockwindow();
                    $.ajax({
                        type: "PATCH",
                        url: "/Freelancer/Approve?id=" + freelancerId,
                        success: function (response) {
                            if (response.Status === "Success") {
                                SuccessToast(response.Message);
                                $("#approve-freelancer").hide();
                                $("#suspend-freelancer").show();
                            } else {
                                InfoToast(response.Errors.join("\n"));
                            }
                            unblockwindow();
                            window.location.href = "/Freelancer";
                        },
                        error: function (response) {
                            unblockwindow();
                            handleAjaxError(response);
                        },
                    });
                }
            });
            return false;
        });

        $(document).on("click", "#suspend-freelancer", function () {
            const title = "Do you really want to suspend?";
            const freelancerId = $(this).attr("data-id");

            ShowDialog("Suspend Freelancer", title, "warning").then((result) => {
                if (result.isConfirmed) {
                    blockwindow();
                    $.ajax({
                        type: "PATCH",
                        url: "/Freelancer/Suspend?id=" + freelancerId,
                        success: function (response) {
                            if (response.Status === "Success") {
                                SuccessToast(response.Message);
                                $("#suspend-freelancer").hide();
                                $("#approve-freelancer").show();
                            } else {
                                InfoToast(response.Errors.join("\n"));
                            }
                            unblockwindow();
                            window.location.href = "/Freelancer";
                        },
                        error: function (response) {
                            unblockwindow();
                            handleAjaxError(response);
                        },
                    });
                }
            });
            return false;
        });
    });
</script>
}