@model Maintenance.Application.ViewModel.User.UsersDatatableFilterViewModel
@{
    ViewBag.Title = "User List";
    var user = ViewBag.Users as List<DropdownDto> ?? new List<DropdownDto>();
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row card-title align-middle">
                    <div class="col-md-12 align-items-center d-flex mt-1">
                        <a href="@Url.Action("Create", "Users")" class="btn btn-primary btn-xs btn-icon-text">
                            <i class="btn-icon-prepend" data-feather="plus"></i>@_CommonLocalizer["Create"]
                        </a>
                    </div>
                    <div class="col-md-12 mt-1">
                        <form>
                            <div>

                                <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="form-label">@_CommonLocalizer["User"]</label>
                                                @Html.DropDownListFor(a => a.UserId, new SelectList(user, "Id", "Name"), "Select", new { @class = "form-control select2Input" })
                                            </div>
                                            <div class="col-md-2 mt-4">
                                                <button type="submit" id="filter" class="mt-1 search-button btn btn-primary waves-effect waves-light form-control"> @_CommonLocalizer["Filter"]</button>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="usersTable" class="datatables-products table">
                        <thead class="bg-primary">
                            <tr>
                                <th class="text-white fw-bold"><i class="link-icon feather-16" data-feather="user"></i>@_CommonLocalizer["FirstName"]</th>
                                <th class="text-white fw-bold"><i class="link-icon feather-16" data-feather="user"></i>@_CommonLocalizer["LastName"]</th>
                                <th class="text-white fw-bold"><i class="link-icon feather-16" data-feather="mail"></i>@_CommonLocalizer["Email"]</th>
                                <th class="text-white fw-bold"><i class="link-icon feather-16" data-feather="smartphone"></i>@_CommonLocalizer["Mobile"]</th>
                                <th class="text-white fw-bold"><i class="link-icon feather-16" data-feather="edit"></i>@_CommonLocalizer["Status"]</th>
                                <th class="text-white fw-bold"><i class="link-icon feather-16" data-feather="briefcase"></i>@_CommonLocalizer["Role"]</th>
                                <th class="text-white fw-bold"><i class="link-icon feather-16" data-feather="settings"></i>@_CommonLocalizer["Action"]</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
            <div class="modal fade" id="resetPasswordModel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content p-1 p-md-3">
                        <button type="button"
                                class="btn-close btn-pinned"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        <div class="modal-body" id="ResetPasswordContent">

                            @await Html.PartialAsync("~/Views/Users/_ResetPassword.cshtml", new ResetPasswordViewModel())
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#filter").on("click", function () {
                event.preventDefault();
                table.draw();
            })

            $('.toggle-password').on('click', function () {
                const input = $(this).siblings('input');
                const icon = $(this).find('i');
                const type = input.attr('type') === 'password' ? 'text' : 'password';

                input.attr('type', type);
                icon.toggleClass('fa-eye fa-eye-slash');
            });
        });
    </script>

<script src="/customjs/Users/Users.js" asp-append-version="true"></script>
}





