@model PagedResult<Application.Dto_s.UserDto_s.UserDetailsResponseDto>
@{
    ViewBag.ModuleName = _CommonLocalizer["User"];
    ViewBag.ModuleIcon = "users";
}

<div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row card-title align-middle mb-5">
                        <div class="col-md-9 align-items-center d-flex mt-1">
                            <a href="@Url.Action("Create", "Users")" class="btn btn-primary btn-xs btn-icon-text">
                                <i class="btn-icon-prepend" data-feather="plus"></i> @_CommonLocalizer["Create"]
                            </a>
                        </div>
                        <div class="col-md-3 mt-1">
                            <form asp-controller="Users" asp-action="Index" method="get">
                                <div class="input-group">
                                    <input type="text" name="searchWord" class="form-control" value="@(ViewBag.CurrentSearchWord as string)" placeholder="@_CommonLocalizer["Search"]" aria-describedby="search-addon">
                                    <button type="submit" class="input-group-text btn btn-primary" id="search-addon">
                                        <i class="btn-icon-prepend" data-feather="search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <hr style="border: 1px dashed #000" />

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="bg-primary">
                                <tr>
                                    <th class="text-white fw-bold" <i class="link-icon feather-16" data-feather="user"></i> @_CommonLocalizer["FullName"]</th>
                                    <th class="text-white fw-bold text-center"><i class="link-icon feather-16" data-feather="mail"></i> @_CommonLocalizer["Email"]</th>
                                    <th class="text-white fw-bold text-center"><i class="link-icon feather-16" data-feather="map"></i> @_CommonLocalizer["Address"]</th>
                                    <th class="text-white fw-bold text-center"><i class="link-icon feather-16" data-feather="map-pin"></i> @_CommonLocalizer["Location"]</th>
                                    <th class="text-white fw-bold text-center"><i class="link-icon feather-16" data-feather="check-circle"></i> @_CommonLocalizer["Status"]</th>
                                    <th class="text-white fw-bold text-center"><i class="link-icon feather-16" data-feather="settings"></i> @_CommonLocalizer["Action"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Items.Any())
                                {
                                    foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td>@item.FirstName @item.LastName</td>
                                            <td class="text-center">@item.Email</td>
                                            <td class="text-center">@item.Address</td>
                                            <td class="text-center">@item.Location</td>
                                            <td class="text-center text-success">@item.Status</td>
                                            <td class="text-center">
                                                <a href="@Url.Action("Edit", "Users", new { id = item.Id })" class="text-primary btn-icon-text btn-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Update">
                                                    <i class="btn-icon-prepend fa fa-edit"></i>
                                                </a>
                                                <a data-userId="@item.Id" class="text-primary btn-icon-text btn-xs reset-password" data-bs-toggle="tooltip" data-bs-placement="top" title="Reset Password">
                                                    <i class="btn-icon-prepend fa fa-sync-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" class="text-center">@_CommonLocalizer["No records found."]</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>



<div class="pagination-area">
    @Html.PagedResultPager(
         Model,
        page => Url.Action("Index", "Users", new { pageNumber = page, pageSize = Model.PageSize })
    )
</div>




@section Scripts {
    <script>

        $(document).on("click", ".reset-password", function () {
            $("#UserId").val($(this).attr("data-userId"));
            $("#resetPasswordModel").modal("show");

        })

        $(document).on("submit", "#resetPasswordForm", function (e) {
            e.preventDefault();
            var $form = $(this);
            $form.data("validator", null);
            $.validator.unobtrusive.parse($form);
            $form.validate();
            let isValid = $form.valid();
            if (!isValid) {
                return false;
            }
            const data = {
                UserId: $("#UserId").val(),
                NewPassword: $("#NewPassword").val(),
                ConfirmPassword: $("#ConfirmPassword").val()
            }
            blockwindow();
            $.ajax({
                url: `/Users/ResetPassword`,
                type: "post",
                data: data,
                success: function (result) {
                    if (result.Status == "Success") {
                        SuccessToast("Password Reset Successfull");
                        $("#resetPasswordModel").modal("show");
                        window.location.reload();
                    }
                    else {
                        InfoToast(result.Errors.join("\n"))
                    }
                    unblockwindow()
                },
                error: function (response) {
                    unblockwindow()
                    handleAjaxError(response)

                }
            })

        })
        $(document).on("click", ".blockUser", function () {
            const title = "Do you really want to block this user?";
            const userId = $(this).attr("data-userId");
            ShowDialog("BlockUser", title, "warning").then((result) => {
                if (result.isConfirmed) {
                    blockwindow();
                    $.ajax({
                        type: "Patch",
                        url: "/Users/BlockUser?id=" + userId,
                        success: function (response) {
                            if (response.Status == "Success") {
                                SuccessToast(response.Message);
                                window.location.reload();
                            }
                            else {
                                InfoToast(response.Errors.join("\n"))
                            }
                            unblockwindow()
                        },
                        error: function (response) {
                            unblockwindow();
                            handleAjaxError(response)
                        },
                    });
                } else {
                }
            });
            return false;
        })


        $(document).on("click", ".unBlockUser", function () {
            const title = "Do you really want to unblock this user?";
            const userId = $(this).attr("data-userId");
            ShowDialog("UnBlockUser", title, "warning").then((result) => {
                if (result.isConfirmed) {
                    blockwindow();
                    $.ajax({
                        type: "Patch",
                        url: "/Users/UnBlockUser?id=" + userId,
                        success: function (response) {
                            if (response.Status == "Success") {
                                SuccessToast(response.Message);
                                window.location.reload();
                            }
                            else {
                                InfoToast(response.Errors.join("\n"))
                            }
                            unblockwindow()

                        },
                        error: function (response) {
                            unblockwindow();
                            handleAjaxError(response)
                        },
                    });
                } else {
                }
            });
            return false;
        })
    </script>
}