<!DOCTYPE html>
<html lang="@_CommonLocalizer["LanguageCode"]" dir="@_CommonLocalizer["Dir"]">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="MaintenanceApp">
    <meta name="author" content="MaintenanceApp">
    <meta name="keywords" content="MaintenanceApp">

    <title>Shtabi</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- End fonts -->
    <link rel="shortcut icon" href="~/images/favicon.png" />

    @await Html.PartialAsync("_vendorStylesPartial")
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/css/@(_CommonLocalizer["CoreStyle"]).css" asp-append-version="true">
    <!-- End layout styles -->
    @await Html.PartialAsync("_customStylesPartial")
    @await RenderSectionAsync("Styles", false)
</head>
<body>
    <div class="main-wrapper">

        <!-- partial:partials/_sidebar.html -->
        @await Html.PartialAsync("_Sidebar")
        <!-- partial -->

        <div class="page-wrapper">
            <!-- partial:partials/_navbar.html -->
            @await Html.PartialAsync("_Navbar")
            <!-- partial -->
            <div class="page-content">
                <nav class="page-breadcrumb">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item">
                            <h5>
                                @if (!string.IsNullOrEmpty(ViewBag.ModuleIcon))
                                {
                                    <span class="heading-line">
                                        <i class="fa fa-@ViewBag.ModuleIcon"></i>
                                    </span>
                                }
                                <span class="">
                                    @ViewBag.ModuleName
                                </span>
                            </h5>
                        </li>

                    </ol>
                </nav>

                @RenderBody()
                </main>
            </div>

            <!-- partial:partials/_footer.html -->
            <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
                <p class="text-muted mb-1 mb-md-0">@_CommonLocalizer["Copyright"] © @DateTime.Now.Year <a href="https://www.nobleui.com" target="_blank">@_CommonLocalizer["Shtabi"]</a>.</p>
                <p class="text-muted">@_CommonLocalizer["SaarzInt."] <i class="mb-1 text-primary ms-1 icon-sm" data-feather="heart"></i></p>
            </footer>
        </div>
    </div>

    <!-- core:js -->
    <script src="~/vendors/core/core.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_vendorScriptsPartial")
    @await Html.PartialAsync("_customScriptsPartial")

    <!-- End custom js for this page -->
    @await Html.PartialAsync("_notificationPartial")
    @await RenderSectionAsync("Scripts", false)

</body>
</html>
